*{
    margin: 0;
    padding: 0;
    box-sizing:border-box ;
}
.list{
    display:flex;
    justify-content: space-between;
    margin-left: 40%;
    margin-right: 20%;
    list-style: none;
    color:purple;
}

.cloth{
  display: flex;
  /* margin-top: 5%;  */
  margin-bottom: 5%;
  margin-left: 15%;
  border-image: url(stylish.png);
}
.button{
    border-radius: 20px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: black;
    background-color: palevioletred;
    color: white;
    margin-left: 15%;
}
.button1{
    border-radius: 20px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: black;
    background-color: palevioletred;
    color: white;
    margin-left: 15%;
    margin-top: 10%;
}

.style{
    width: 0%;
}
.first{
    background-color :blueviolet;
    padding: 10%;

    
}


.dresses{
    display: flex;
    justify-content: space-between;
    margin-top: 10%;
}
.welcome{
    margin-top: 5%;
}
.aboutshop{
margin-top: 0%;
}
.footer{
    display: flex;
    justify-content: space-between;
    margin-top: 10%;
}